li {
  margin-right:.5rem
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height:20vh;
  margin-bottom: .5rem;
  padding-left:.5rem;
  padding-right:.5rem
}
.card:hover{
  cursor: pointer;
  background-color: rgba(161, 160, 160, 0.2);
}

.menuList{
  background-color:rgba(211, 211, 211, 0.52) ;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display:flex;
  align-items: center;
}

.channelImage{
  width:50px;
}
.listItem{
  color:gray;
  text-decoration: underline;
  padding-left: .5rem;
  margin-right:1rem
}
.listItem:hover{
  text-decoration: underline;
  color:black;
}

.heart .heartIcon{
  color:gray;
}

.heart .heartIcon:hover{
  color:red;
}

.favoriteMenuList{
  background-color:rgba(211, 211, 211, 0.52) ;
  list-style-type: none;
  display:flex;
  justify-content: center;
}
.favoriteListItem{
  color:gray;
  font-size: 1.5rem;
  padding-left: .5rem;
  margin-right:1rem
}

.favoriteListItem:hover{
  text-decoration: underline;
  color:black;
}


@media only screen and (min-width: 576px) {
  .listItem{
    font-size: 1.5rem;
    margin-right: 2rem;
  }
  .channelImage{
    width:100px;
  }
  .programName {
    font-size:1.5rem;
    margin-right: 2rem;
  }

}

/* programsByChannelId */
.programs{
  margin-top:2rem;
}
